profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withName: FAQCS {
                container = 'quay.io/biocontainers/faqcs:2.10--r41h9a82719_2'
            }
        }
        process {
            withName: FASTPLONG {
                container = 'staphb/fastplong:latest'
            }
        }
        process {
            withName: ASSEMBLY_ILLUMINA {
                container = 'staphb/spades:latest'
            }
        }
        process {
            withName: ASSEMBLY_ONT {
                container = 'staphb/flye:latest'
            }
        }
        process {
            withName: blast_run {
                container = 'staphb/blast:latest'
            }
        }
        process {
            withName: combine_and_align {
                container = 'staphb/clustalo:latest'
            }
        }
        process {
            withName: visualize_snps {
                container = 'raphsoft/mview:1.67'
            }
        }
        process {
            withName: extract_best_hit {
                container = 'staphb/blast:latest'
            }
        }
        process {
            withName: extract_cyp51_coding_noncoding_sequence {
                container = 'staphb/samtools:latest'
            }
        }
        process {
            withName: identify_distance_TR {
                container = 'staphb/blast:latest'
            }
        }
        process {
            withName: align_cyp51 {
                container = 'staphb/clustalo:latest'
            }
        }
        process {
            withName: plot_TR {
                container = 'raphsoft/mview:1.67'
            }
        }
    }
}

manifest {
    name            = 'CDCgov/mycogene-nf'
    author          = 'CDC'
    homePage        = 'https://github.com/CDCgov/mycogene-nf'
    description     = 'mycogene-nf is a Nextflow pipeline for comparing gene sequences from sequencing reads and identifying amino acid variants associated with genetic markers such as antimicrobial resistance.'
    mainScript      = 'main.nf'
    version         = '1.1.0'
}