profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withName: FAQCS {
                container = 'quay.io/biocontainers/faqcs:2.10--r41h9a82719_2'
            }
        }
        process {
            withName: assembly {
                container = 'staphb/spades:latest'
            }
        }
        process {
            withName: blast_run {
                container = 'staphb/blast:latest'
            }
        }
        process {
            withName: combine_and_align {
                container = 'staphb/clustalo:latest'
            }
        }
        process {
            withName: visualize_snps {
                container = 'raphsoft/mview:1.67'
            }
        }
        process {
            withName: extract_cyp51_coding_noncoding_sequence {
                container = 'staphb/samtools:latest'
            }
        }
        process {
            withName: identify_distance_TR {
                container = 'staphb/blast:latest'
            }
        }
        process {
            withName: align_cyp51 {
                container = 'staphb/clustalo:latest'
            }
        }
        process {
            withName: plot_TR {
                container = 'raphsoft/mview:1.67'
            }
        }
    }
}