profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withName: FASTP {
                container = 'staphb/fastp:latest'
            }
            withName: FASTPLONG {
                container = 'staphb/fastplong:latest'
            }
            withName: ASSEMBLY_ILLUMINA {
                container = 'staphb/spades:latest'
            }
            withName: ASSEMBLY_ONT {
                container = 'staphb/flye:latest'
            }
            withName: blast_run {
                container = 'staphb/blast:latest'
            }
            withName: combine_and_align {
                container = 'staphb/clustalo:latest'
            }
            withName: visualize_snps {
                container = 'mview/mview:mview-vue'
            }
            withName: extract_best_hit {
                container = 'staphb/blast:latest'
            }
            withName: extract_cyp51_coding_noncoding_sequence {
                container = 'staphb/samtools:latest'
            }
            withName: identify_distance_TR {
                container = 'staphb/blast:latest'
            }
            withName: align_cyp51 {
                container = 'staphb/clustalo:latest'
            }
            withName: plot_TR {
                container = 'mview/mview:mview-vue'
            }
            withName: gene_coverage {
                container = 'python:3.9-slim'
            }
            withName: SAMPLE_QC {
                container = 'python:3.9-slim'
            }
            withName: MERGE_QC {
                container = 'python:3.9-slim'
            }
            withName: parse_mutations {
                container = 'python:3.9-slim'
            }
        }
    }
}
manifest {
    name            = 'CDCgov/mycogene-nf'
    author          = 'CDC'
    homePage        = 'https://github.com/CDCgov/mycogene-nf'
    description     = 'mycogene-nf is a Nextflow pipeline for comparing gene sequences from sequencing reads and identifying amino acid variants associated with genetic markers such as antimicrobial resistance.'
    mainScript      = 'main.nf'
    version         = '1.3.1'
}